# ElevenLabs
ELEVENLABS_API_KEY=sk_748530d055e05f1c9d2d79d6b511c71d1df6084f0789e275
ELEVENLABS_AGENT_ID=agent_9201k87qvt12e5ta0c3f0a26hck2
ELEVENLABS_AGENT_PHONE_NUMBER_ID=phnum_3601k8aqwea8ftvrtqs24ck9a2v8

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# Server
PORT=3001
NODE_ENV=development
WEBHOOK_BASE_URL=http://localhost:3001
